<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ProjectName" value="TournamentTracker"/>
		<add key="GreaterWins" value="1"/>
	</appSettings>
	<connectionStrings>
		<add name="Tournaments" connectionString="Server=LAPTOP-FCNV93K2;DataBase=Tournaments;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
